.App {
    background-color: rgb(24, 24, 27);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.chat-container {
    height: 100vh;
    min-width: 200px;
    width: 33vw;
    max-width: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 13.8125px;
    font-family: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding-right: 7px;
}

.player-container {
    height: 100vh;
    overflow: hidden;
    flex-grow: 100;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-container iframe {
    width: 100%;
    height: 100%;
}

.source-code-link {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

/* Mobile styles */

@media(max-width:800px){
    .App{
        min-height: unset;
        align-items: unset;
        height: 100dvh;
        position: relative;
    }

    .player-container {
        flex-grow: unset;
        height: fit-content;
        max-height: 100%;
        z-index: 999;
    }
    @media (orientation: portrait) {
        .player-container {
            width: 100%;
            max-height: 50vh;
        }
    }
    /* Video is in the iframe but might as well try to target it */
    .player-container iframe,.player video{
        object-fit: contain;
    }

    .player-container iframe {
        height: 100%;
        aspect-ratio: 16/9;
    }

    .chat-container {
        width: 100%;
        max-width: 100%;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        height: 100%;
    }

    .chat-container:has(.search-form){
        max-height: 50dvh;
    }

    .chat-container > div:nth-child(2) {
        position: absolute;
        width: 98%;
        bottom: 10px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
    }
}

/*Floating Chat*/
@media (orientation:landscape) AND (max-width: 800px)  {
    .App{
        flex-direction: row;
        align-items: center;
    }

    .chat-container{
        z-index: 999;
        left: unset;
        right: 0;
        width: 33vw;
        transform: none;
        min-width: unset;
        background: rgba(0,0,0,.5);
    }

    /*save space on small screens*/
    p.chatMessage{
        span:first-child{
            display: none;
        }
    }
}