.chat-selector {
    display: flex;
    flex-direction: column;
}

.chat-search-box {
    position: fixed;
    width: 350px;
    font-size: 1.2em;
    text-align: center;
}

.chat-selection-button:nth-child(1) {
    margin-top: 50px;
}

.chat-selection-button-title {
    font-weight: 800;
}

.chat-selection-button {
    min-height: 80px;
    margin-top: 15px;
    border-radius: 5px;
}

.chat-selection-button p {
    margin-top: 3px;
    margin-bottom: 3px;
}
