.commenter {
    font-weight: 700;
}

.chatMessage {
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.emoticon {
    vertical-align: middle;
    position: relative;
    bottom: 2px;
    width: 28px;
    height: 28px;
}

.badge {
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

