.video {
    height: 99.2vh;
    width: 100%;
    border: none;
}

.url-input-form {
    border-radius: 25px;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
}

.url-input-form input {
    margin-left: 20px;
    font-size: 1em;
    border-radius: 15px;
    margin-bottom: 20px;
}

.submit-button {
    cursor: pointer;
}

@media(max-width:800px){

    .url-input-form{
        width: 80vw;
    }
    .url-input-form input{
        font-size: 1.6rem;
        width: 100%;
        box-sizing: border-box;
    }

    .url-input-form > label:nth-child(1) {
        width: 100%;
    }

    .video{
        height: fit-content;
        width: 100vw;
    }
}